{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:typescript-sort-keys/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"simple-import-sort",
		"sort-keys-fix",
		"typescript-sort-keys",
		"sort-destructure-keys"
	],
	"overrides": [
		{
			"files": ["*.js", "*.ts"],
			"rules": {
				"simple-import-sort/imports": [
					"error",
					{
						"groups": [
							["^@?\\w"],
							["^\\.\\.(?!/?$)", "^\\.\\./?$"],
							["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
							["^\\u0000"]
						]
					}
				],
				"sort-keys-fix/sort-keys-fix": "warn",
				"typescript-sort-keys/interface": "error",
				"typescript-sort-keys/string-enum": "error",
				"sort-destructure-keys/sort-destructure-keys": 2
			}
		}
	]
}
